.tag{
    display: grid;
    justify-content: center;
}

.tag2{
    display: grid;
    justify-content: center;
}

.tag3{
    display: grid;
    justify-content: center;
}
pdf-viewer {
    display: block;
    height: 50vh;
  }