<mat-toolbar>Books</mat-toolbar>

<div class="card-layout">
    <mat-card class="sale-card">
        <mat-card-header>
            <mat-toolbar>
                <span>Class 1</span>
            </mat-toolbar>
        </mat-card-header>
        <div class="sale-card-content" >
            <div class="item-left">
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/sale/price">books</mat-icon>
                <mat-card-subtitle>Science</mat-card-subtitle>
                <span>
                    <h4>$2</h4>
        
                </span>
        
            </div>
            <div class="item-right">
            <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/sale/price">books</mat-icon>
            <mat-card-subtitle>Math</mat-card-subtitle>
            <span>
                <h4>$3</h4>
    
            </span>
    
        </div>
        </div>
    </mat-card>

    <mat-card class="sale-card">
        <mat-card-header>
            <mat-toolbar>
                <span>Class 5</span>
            </mat-toolbar>
        </mat-card-header>
        <div class="sale-card-content" >
            <div class="item-left">
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/sale/price">books</mat-icon>
                <mat-card-subtitle>Science</mat-card-subtitle>
                <span>
                    <h4>$5</h4>
        
                </span>
        
            </div>
            <div class="item-right">
            <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/sale/price">books</mat-icon>
            <mat-card-subtitle>Math</mat-card-subtitle>
            <span>
                <h4>$6</h4>
    
            </span>
    
        </div>
        </div>
    </mat-card>

    <mat-card class="sale-card">
        <mat-card-header>
            <mat-toolbar>
                <span>Class 6</span>
            </mat-toolbar>
        </mat-card-header>
        <div class="sale-card-content" >
            <div class="item-left">
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/sale/price">books</mat-icon>
                <mat-card-subtitle>Science</mat-card-subtitle>
                <span>
                    <h4>$6</h4>
        
                </span>
        
            </div>
            <div class="item-right">
            <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/sale/price">books</mat-icon>
            <mat-card-subtitle>Math</mat-card-subtitle>
            <span>
                <h4>$7</h4>
    
            </span>
    
        </div>
        </div>
    </mat-card>

    <mat-card class="sale-card">
        <mat-card-header>
            <mat-toolbar>
                <span>Class 11</span>
            </mat-toolbar>
        </mat-card-header>
        <div class="sale-card-content" >
            <div class="item-left">
                <mat-icon aria-hidden="false" aria-label="Example home icon"routerLink="/sale/price">books</mat-icon>
                <mat-card-subtitle>Science</mat-card-subtitle>
                <span>
                    <h4>$15</h4>
        
                </span>
        
            </div>
            <div class="item-right">
            <mat-icon aria-hidden="false" aria-label="Example home icon"routerLink="/sale/price">books</mat-icon>
            <mat-card-subtitle>Math</mat-card-subtitle>
            <span>
                <h4>$17</h4>
    
            </span>
    
        </div>
        </div>
    </mat-card>
    
</div>
