
<div>
<mat-toolbar class="toolbar"> <mat-icon class="pointer" aria-hidden="false" aria-label="Example home icon" routerLink="/class">add</mat-icon>New </mat-toolbar>

</div>

<div class="class-cards">
 <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Aps School</mat-card-title>
      <mat-card-subtitle>School in Karachi</mat-card-subtitle>
    </mat-card-header>
  <img mat-card-image src="../../assets/images/download.jpeg" alt="DHA School">
    <!-- <mat-card-content>
    </mat-card-content> -->
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DHA School</mat-card-title>
      <mat-card-subtitle>School in Karachi</mat-card-subtitle>
    </mat-card-header>
  <img mat-card-image src="../../assets/images/download.jpeg"  alt="DHA School">
    <!-- <mat-card-content>
    </mat-card-content> -->
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DHA School</mat-card-title>
      <mat-card-subtitle>School in Karachi</mat-card-subtitle>
    </mat-card-header>
  <img mat-card-image src="../../assets/images/download.jpeg"  alt="DHA School">
    <!-- <mat-card-content>
    </mat-card-content> -->
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DHA School</mat-card-title>
      <mat-card-subtitle>School in Karachi</mat-card-subtitle>
    </mat-card-header>
  <img mat-card-image src="../../assets/images/download.jpeg" alt="DHA School">
    <!-- <mat-card-content>
    </mat-card-content> -->
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DHA School</mat-card-title>
      <mat-card-subtitle>School in Karachi</mat-card-subtitle>
    </mat-card-header>
  <img mat-card-image src="../../assets/images/download.jpeg" alt="DHA School">
    <!-- <mat-card-content>
    </mat-card-content> -->
  </mat-card>

</div>
  
  